.container {
  /*för mobil*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; /*justerar innehåll längs flexx-direction*/
  align-items: center;
}
/*column för mobil
/* utrymme mellan våra element. finns även för jämnt fördelat utrymme mellan varje element. space-around;
Flex start; lägger sig till höger
flex-end; taggarna lägger sig så långt till slutet som möjligt och tomma rutan hamnar till vänster.
align-items: center; (sakerna hamnar i mitten)
justify-content; justerar innehåll längs flex-direction.
align-items: justerar innehåll längs motsatsen.*/

aside {
  height: 10px;
  width: 20px;
  border: 1px solid black;
}

main {
  height: 10px;
  width: 20px;
  border: 4px solid red;
}

/* vi måste berätta för webbläsaren när den ska gå från mobile till desktopläge. det är MEDIAQUERY.
@media screen and (min-width:768px) detta värde (786 heter breakpoint) alltså all css som står innan mediaquery (container och aside) kommer gälla från 0px-768px.
vi kan återanvända samma css till detta. Nya värden för desktop. 
- ordningen kommer spela roll. 
först classen som innehåller kolumnerna
sedan kolumnerna
och sedan media screen som omvandlar.
*/

@media screen and (min-width: 768px) {
}

.container {
  display: flex;
  flex-direction: row; /*eftersom detta är desktop*/
}
