

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside {
    background-color: pink;
    
    
}

main {
    background-color: purple;
        
    
}

section{
    background-color: palevioletred;
    
}
.bild {
    display: flex;
    align-items: center;
    justify-content: center;
}
.välkommen{
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    border-radius: 50%;
    border: 3px dotted;
  
  }
  @keyframes heart {
    0% {
      transform: rotate(45deg) scale(0.8);
    }
    5% {
      transform: rotate(45deg) scale(0.9);
    }
    10% {
      transform: rotate(45deg) scale(0.8);
    }
    15% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(0.8);
    }
    100% {
      transform: rotate(45deg) scale(0.8);
    }
  }

  .heart{
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background-color: black;
    animation: heart 1.5s infinite;
  }

  .heart::before,
  .heart::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;

  }
  .heart::before {
    left: -25px;
  }
  
  .heart::after {
    top: -25px;
  }
    
    

.gridcontainer{
    background-color: coral;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



@media screen and (min-width:768px){
    .container {
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
}
aside {
        background-color: pink;
        width:33.33%;
        height: 150px;
        
}
    
main {
        background-color: purple;
        width:33.33%;
        height: 150px;
}
    
section{
        background-color: palevioletred;
        width:33.33%;
        height: 150px;
}

}

@keyframes goaround1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(200px, 0);
    }
  }
  @keyframes goaround2 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(200px,0px);
    }
    100%{
        transform: translate(0, 0);
    }
  
    
  }
  
 h1 {
        animation: goaround2 1s;
       
}
